<nb-card>

    <nb-card-header class="d-flex justify-content-between">

        <!-- search input -->
        <app-search [apiUrl]="pagination.apiUrl" (dataList)="onDataChanged($event)"></app-search>

        <a routerLink="/pages/users/new" nbButton status="primary">Thêm Mới</a>
    </nb-card-header>

    <ngx-paginator (dataList)="onDataChanged($event)" [apiUrl]="pagination.apiUrl" [current_page]="pagination.page"
        [last_page]="pagination.last_page"></ngx-paginator>

    <nb-card-body>
        <div class="table-responsive">
            <table id="customers">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Email</th>
                        <th scope="col">Quyền Hạn</th>
                        <th scope="col">Thao Tác</th>
                    </tr>
                </thead>
                <tbody *ngIf="!isLoading; else elseBlock">

                    <tr class="" *ngFor="let item of listUsers; index as i">
                        <td scope="row">{{i + 1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>
                            <span *ngIf="item.role_ID === 1; else elseBlock">
                                Admin
                            </span>
                            <ng-template #elseBlock>
                                Người Dùng
                            </ng-template>
                        </td>
                        <td>
                            <a routerLink="{{item.id}}" class="mx-2" nbTooltip="Chỉnh Sửa" nbTooltipPlacement="top" nbButton
                                status="basic">
                                <nb-icon icon="edit-2-outline">
                                </nb-icon>
                            </a>
                            <div class="d-inline" *ngIf="item.role_ID !== 1 ">
                                <button class="mx-2" (click)="handleDelUser(item.id)" nbTooltip="Xoá"
                                    nbTooltipPlacement="top" nbButton status="basic">
                                    <nb-icon icon="trash-2-outline">
                                    </nb-icon>
                                </button>
                            </div>

                        </td>
                    </tr>

                </tbody>
                <ng-template #elseBlock class="w-100">
                    <tr>
                        <td colspan="6">
                            <nb-card class="w-100 p-4" [nbSpinner]="true" nbSpinnerStatus="basic">

                            </nb-card>
                        </td>
                    </tr>
                </ng-template>

            </table>
        </div>




    </nb-card-body>






</nb-card>