<nb-card size="medium">
    <nb-card-header>
        <div class="d-flex justify-content-between">
            <span>Hình ảnh</span>

            <button nbButton size="tiny" outline status="primary">upload + </button>
        </div>

    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div *ngFor="let item of images" class="col-2 mb-2">
                <img src="{{ item.url }}" alt="" style="width: 100px;">
            </div>
        </div>
    </nb-card-body>

</nb-card>