<nb-card size="medium">
  <nb-card-header>
    <div class="d-flex justify-content-between mb-3">
      <span>Hình ảnh</span>
      <button class="btn border-primary" (click)="openModal()">+ Upload</button>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div *ngFor="let item of images" class="col-2 mb-2">
        <img src="{{apiUrl + '/' + item.name }}" alt="" class="w-100">
      </div>
    </div>

    <div *ngIf="query.page !== query.lastPage" class="text-center mt-3">
      <button class="btn border" (click)="seeMore(query.page)">xem thêm</button>
    </div>
  </nb-card-body>

</nb-card>