<nb-card size="medium">
    <nb-card-header>
        <div class="d-flex justify-content-between  align-items-center">
            <span>Files </span>
            <div class="">
                <span class="caption mx-3">
                    hiện có : {{total}}
                </span>
                <button nbButton outline status="info" size="small" (click)="openModal()">+ Upload</button>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <nb-list class="p-0" *ngIf="listFiles.length > 0">
            <nb-list-item *ngFor="let item of listFiles; index as i"
                class="d-flex align-items-center justify-content-between">
                <div class="d-flex">
                    <span class="btn mx-2 rounded border text-basic">
                        {{i + 1}}
                    </span>
                    <div class="">
                        <div class="text-one-line">
                            {{ item.name }}
                        </div>
                        <span style="cursor: pointer;" class="caption text-danger py-1"
                            (click)="delFile(item.id)">Xóa</span>
                    </div>
                </div>

                <span class="btn caption" (click)="downLoadFile(item.name)">
                    download
                </span>
            </nb-list-item>

        </nb-list>
    </nb-card-body>



    <div class="text-center my-3" *ngIf="listFiles.length !== total">
        <button nbButton outline status="info" size="small" (click)="seeMore(query.page)">xem thêm</button>
    </div>


</nb-card>