<div class="row">
  <div class="col-3">
    <nb-card>
      <nb-card-body>
        Tổng Số Đề Án : 130
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-3">

    <nb-card>
      <nb-card-body>
        Đề Án Chưa Thực Hiện: 3

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-3">
    <nb-card>
      <nb-card-body>
        Đề Án Hoàn Thành: 120

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-3">
    <nb-card>
      <nb-card-body>
        Đề Án Chưa Làm: 7

      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row mt-5">

  <!-- <chart type="pie" [data]="data" [options]="options"></chart> -->


</div>