@import '~intro.js/introjs.css';
.container{
    .row{
        .tb{
            // border: 2px solid red;
            border-radius: 20px;
        }


        #detel{
            text-decoration: none;
        }
    }
}

.in-progress {
    color: red;
  }
  
  .completed {
    color: green;
  }


