<nb-card>

  <nb-card-header class="d-flex justify-content-between">
    <div class="row">
      <div class="col-lg-11">
        <form>
          <input type="text" nbInput placeholder="Tìm kiếm...">
          <!-- <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon> -->
        </form>
      </div>
    </div>
    <div class="col-lg-1">
      <a nbButton outline status="primary"> <nb-icon icon="plus-circle-outline"></nb-icon></a>
    </div>

  </nb-card-header>


  <nb-card-body>

    <div class="table-responsive">
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Tên đề án</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Xem chi tiết</th>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor="let item of data.Plan">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.status === 0 ? 'Đang thực hiện' : 'Đã hoàn thành' }}</td>
            <td>{{ item.createdAt | date: 'dd/MM/yyyy' }}</td>
            <td>
              <a nbButton outline status="primary" routerLink="{{item.slug}}"> <nb-icon
                  icon="menu-outline"></nb-icon></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>