<nb-card>

  <nb-card-header class="d-flex justify-content-between">
    <div class="row">
      <div class="col-lg-11">
        <form>
          <input type="text" nbInput placeholder="Tìm kiếm...">
          <!-- <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon> -->
        </form>
      </div>
    </div>
    <div class="col-lg-1">
      <a nbButton outline nbTooltip="Thêm" nbTooltipPlacement="top" status="primary" (click)="open(add)">
        <nb-icon icon="plus-circle-outline"></nb-icon>
      </a>
    </div>

  </nb-card-header>

  <nb-card-body>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Tên chuyên ngành</th>
            <th scope="col">Số lượng sinh viên</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listData">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.qty_student}}</td>
            <td>
                <button nbTooltip="Xóa" nbTooltipPlacement="right" nbTooltipStatus="warning" nbButton status="basic"
                (click)="deleteUnit(item.id)">
                <nb-icon [options]="{ animation: { type: 'zoom' } }" icon="trash-outline">
                </nb-icon>
              </button>
              <span style="margin-right: 20px;"></span>
              <button nbTooltip="Sửa" nbTooltipPlacement="top" nbButton nbTooltipStatus="info" status="basic"
                (click)="open(dialog)" (click)="getOne(item.id)" class="me-3">
                <nb-icon [options]="{ animation: { type: 'zoom' } }" icon="edit-2-outline">
                </nb-icon>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    <ng-template #dialog let-data let-ref="dialogRef">
      <nb-card>
        <nb-card-header>Sửa</nb-card-header>
        <nb-card-body>
          <form *ngIf="GetOne">
            <div class="col-lg-12" style="width: 900px; height: 100%;">
              <div class="form-group">
                <label class="my-2">Ngành:</label><br />
                <input type="text" id="specialized" name="specialized" nbInput fullWidth [(ngModel)]="GetOne.name">
              </div>

              <div class="form-group mt-3">
                <label class="my-2">Số lượng sinh viên:</label>
                <input type="number" id="qty_student" name="qty_student" nbInput fullWidth
                  [(ngModel)]="GetOne.qty_student">
              </div>

              <div class="form-group mt-3">
                <button (click)="submitForm()" type="button" nbButton status="primary">Sửa</button>
              </div>
            </div>

          </form>
        </nb-card-body>
      </nb-card>
    </ng-template>

    <ng-template #add let-data let-ref="dialogRef">
      <nb-card>
        <nb-card-header>Thêm Chuyên Ngành</nb-card-header>
        <nb-card-body>
          <form [formGroup]="postData" (ngSubmit)="submitAdd()">
            <div style="width: 900px; height: 100%;">
              <div class="mb-3">
                <label class="form-label">Tên Chuyên Ngành</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" formControlName="name">
                <span class="text-danger"
                  *ngIf="postData.get('name')!.invalid && (postData.get('name')!.dirty || postData.get('name')!.touched)">Vui
                  lòng nhập tên chuyên ngành</span>
              </div>
              <div class="mb-3">
                <label class="form-label">Số lượng sinh viên</label>
                <input type="text" id="qty_student" class="form-control" name="qty_student" [(ngModel)]="qty_student"
                  formControlName="qty_student">
                <span class="text-danger"
                  *ngIf="postData.get('qty_student')!.invalid && (postData.get('qty_student')!.dirty || postData.get('qty_student')!.touched)">Vui
                  lòng nhập số lượng sinh viên</span>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Thêm</button>
          </form>

        </nb-card-body>
      </nb-card>
    </ng-template>
  </nb-card-body>

</nb-card>