<nb-card>

  <nb-card-header class="d-flex justify-content-between">
    <div class="row">
      <div class="col-lg-11">
        <form>
          <input type="text" nbInput placeholder="Tìm kiếm...">
          <!-- <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon> -->
        </form>
      </div>
    </div>
    <div class="col-lg-1">
      <a nbButton outline status="primary">
        <nb-icon icon="plus-circle-outline"></nb-icon>
      </a>
    </div>

  </nb-card-header>

  <nb-card-body>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Tên chuyên ngành</th>
            <th scope="col">Số lượng sinh viên</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data.Listspecialized">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.qty}}</td>
            <td>
              <button nbButton outline status="danger"> <nb-icon icon="trash-2-outline"></nb-icon></button>
              <span style="margin-right: 20px;"></span>
              <button nbButton outline status="warning"><nb-icon icon="edit-outline"></nb-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>

</nb-card>